@import "../../../shared/styles/_functions.sass"

.product
  &-image-outer
    position: relative
    margin-bottom: rem(8)

    img
      width: 100%
      height: auto
      filter: drop-shadow(rem(3) rem(6) rem(9) rgba(0, 0, 0, 0.24))

    .pi-decorator
      height: auto
      z-index: -1
      width: 100%
      left: 0
      bottom: rem(4)

  &-name
    white-space: nowrap
    font-weight: 600
    font-size: rem(16)

  &-list
    display: grid
    grid-template-columns: repeat(2,minmax(calc(50% - 0.5rem), rem(250)))
    gap: rem(32) rem(16)

    +onMinSize(medium)
      overflow: auto
      grid-template-columns: repeat(4,calc(33% - 0.5rem))
      padding-bottom: rem(20)

    +onMinSize(large)
      column-gap: 1.25rem
      grid-template-columns: repeat(4,calc(25% - 1rem))

    li
      opacity: 0
      transform: translateX(rem(-20))
      animation: setBack 0.5s var(--ease-spring) forwards

      +onMinSize(xx-large)
        border: 1px solid var(--border-light)
        padding: rem(20)
        border-radius: rem(20)

        .pi-decorator
          display: none

        .product-name
          font-size: rem(20)
          margin-bottom: rem(10)

        .product-price-info
          font-size: rem(20)
          gap: rem(8)

        .product-image-outer
          position: relative
          &::after
            content: ''
            background: currentColor
            position: absolute
            top: 50%
            left: 50%
            width: 80%
            border-radius: 50%
            z-index: -1
            aspect-ratio: 1/1
            transform: translate(-50%,-50%)

      &:nth-child(2n)
        transform: translateX(rem(20))

  &-varieties
    font-size: rem(14)

    span:last-child
      display: none

  &-price
    font-weight: 500
    font-size: 1em

    &-info
      flex-direction: column
      font-size: rem(16)
      font-weight: 500

    &-old
      text-decoration-line: line-through
      color: var(--border-dark)
      font-size: 0.75em
      min-height: rem(20)
      padding-top: rem(4)

  &-variety-count
    font-size: 1.15em
