@import "../../../shared/styles/_functions.sass"

.product
  &-image-outer
    position: relative
    margin-bottom: rem(8)

    img
      width: 100%
      height: auto
      filter: drop-shadow(3px 6px 9px rgba(0, 0, 0, 0.24))

    .pi-decorator
      z-index: -1
      left: 0
      bottom: rem(4)
      width: 100%
      height: auto

  &-name
    font-weight: 600
    font-size: rem(16)
    white-space: nowrap

  &-list
    display: grid
    grid-template-columns: repeat(2,minmax(calc(50% - 0.5rem), rem(250)))
    gap: rem(32) rem(16)
    +respond-to(medium)
      grid-template-columns: repeat(4,calc(33% - 0.5rem))
      overflow: auto
      padding-bottom: rem(20)
    +respond-to(large)
      grid-template-columns: repeat(4,calc(25% - 1rem))
      column-gap: 1.25rem

    li
      opacity: 0
      transform: translateX(-20px)
      animation: setBack 0.5s var(--ease-spring) forwards

      +respond-to(xx-large)
        border: 1px solid #CFCFCF
        padding: rem(20)
        border-radius: rem(20)

        .pi-decorator
          display: none

        .product-name
          font-size: rem(20)
          margin-bottom: rem(10)

        .product-price-info
          font-size: rem(20)
          gap: rem(8)

        .product-image-outer
          position: relative
          &::after
            content: ''
            width: 80%
            background: currentColor
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%,-50%)
            border-radius: 50%
            z-index: -1
            aspect-ratio: 1/1

      &:nth-child(2n)
        transform: translateX(20px)

  &-varieties
    font-size: rem(14)

    span:last-child
      display: none

  &-price
    font-weight: 500
    font-size: 1em

    &-info
      font-size: rem(16)
      font-weight: 500
      flex-direction: column

    &-old
      color: #A9A9A9
      font-size: 0.75em
      text-decoration-line: line-through
      min-height: rem(20)
      padding-top: rem(4)

  &-variety-count
    font-size: 1.15em
