@import "../../../shared/styles/_functions.sass"

$imgShape: rem(450) // match this with imgShape variable in productImages.tsx

.sn-product-page
  --items-padding: 1rem

  +onMaxSize(medium)
    position: relative
    z-index: 4
    margin: -3.75rem -1rem 1.5rem
    background-image: url('/images/page-bg-light.webp')
    background-size: cover
  +onMinSize(medium)
    margin-top: rem(48)
  +onMinSize(x-large)
    &:after,
    &:before
      content: ''
      position: absolute
      left: 0
      top: 0
      z-index: -2
      width: 50vw
      height: 50vw
      background: var(--decoration-bg)
      clip-path: polygon(rem(430) 0, 100% 0%, 100% rem(680), rem(430) rem(680), 0 rem(350))
    &:before
      right: 0
      left: auto
    &::after
      transform: rotateY(180deg)
  +onMaxSize(x-large)
    padding-bottom: 0
    padding-top: 0
  &-images
    display: flex
    overflow: hidden
    margin-inline: auto
    width: 100%
    max-width: $imgShape
    border-radius: 0 0 rem(40) rem(40)
    aspect-ratio: 1/1.2
    img
      object-fit: cover
      height: auto
      width: 100%
      aspect-ratio: 1 / 1.2
    +onMinSize(medium)
      aspect-ratio: 1/1
      border-radius: rem(20)
      img
        aspect-ratio: 1/1

  &-thumbnails
    display: none
    gap: rem(8)
    img
      border-radius: rem(10)
      background-color: var(--primary-light)
      transition: background-color 0.3s var(--ease-spring)
      &.active
        background-color: rgba($primary-color,0.3)
    +onSizeRange(medium, x-large)
      display: flex

    +onMinSize(x-large)
      display: flex
      cursor: pointer

  &-slider
    display: flex
    justify-content: center
    gap: rem(4)
    li
      button
        transform-origin: left
        font-size: 0
        border-radius: 50%
        width: rem(8)
        height: rem(8)
        background-color: rgba($primary-color, 0.5)
      &.active
        button
          border-radius: rem(8)
          width: rem(32)

  &-description
    color: var(--text)
    p
      margin-bottom: rem(16)

    &-set
      padding-inline: var(--items-padding)
  &-attribute
    display: flex
    align-items: center
    gap: rem(8)
    margin-top: rem(24)

    &.size
      +onMinSize(x-large)
        margin-top: rem(40)

    &-container
      padding-inline: var(--items-padding)
      margin-top: rem(24)

    &-heading
      font-weight: 550
      font-size: rem(18)
      color: rgba(0, 0, 0, 0.75)
    ul
      display: flex
      gap: rem(4)

      input[type="radio"]
        +hide-input
    .attribute-sizes-list
      label
        cursor: pointer
        padding: rem(2) rem(6)
        border-radius: rem(2)
        font-size: rem(16)
      input:checked
        ~ label
          background-color: var(--primary-light)
          border: rem(1) solid var(--primary)
          +onMinSize(x-large)
            background-color: var(--primary)
            color: var(--white)
    .attribute-colors-list
      gap: rem(8)
      label
        display: block
        cursor: pointer
        border-radius: 50%
        width: rem(20)
        height: rem(20)
        &.white
          border: rem(1) solid var(--border-dark)
      input:checked
        ~ label
          outline: rem(2) solid var(--primary)
          outline-offset: rem(2)

  &-accordion
    margin-top: rem(12)
    padding-bottom: rem(16)
    cursor: auto
    summary
      cursor: pointer
    .sn-product-additional-info
      padding-block: rem(16)
    &.about
      ul
        list-style: disc
        padding-left: rem(30)
        color: var(--text)

        li
          margin-bottom: rem(8)

    &.review
      .review-body
        padding: rem(24)
        text-align: center
      .no-review-text
        font-size: rem(18)
        color: var(--border-dark)
        margin-block: 0 rem(24)
      .review-login-btn
        padding: rem(8) rem(16)
        border: rem(1) solid var(--secondary)
        color: var(--secondary)
        border-radius: rem(4)
  &-float
    display: flex
    align-items: center

    +onMaxSize(x-large)
      position: fixed
      z-index: 2
      bottom: rem(20)
      border-radius: rem(50)
      padding: rem(12) rem(12) rem(12) rem(20)
      width: calc(100% - rem(32))
      background-color: var(--primary-light)
      transition: bottom 0.3s var(--ease-spring)
    +onMinSize(medium)
      bottom: rem(70)

    .btn-secondary
      line-height: 1
      gap: rem(8)
      +onMaxSize(x-large)
        box-shadow: none

  &-price
    display: flex
    flex-direction: column
    font-size: rem(24)
    +onMinSize(x-large)
      font-size: rem(28)
    .old-price
      text-decoration: line-through
      color: var(--border-dark)
      font-size: 0.5em
    .new-price
      font-weight: 700
      font-size: 1em

  .attribute-qty
    display: flex
    align-items: center
    gap: rem(4)
    padding: rem(8)
    border-radius: rem(30)
    background: var(--secondary-light)
    input
      background: none
      border: none
      text-align: center
      font-weight: 600
      font-size: rem(18)
      width: rem(20)
      height: rem(20)
    button
      display: grid
      place-items: center
      width: rem(18)
      height: rem(18)
      color: var(--secondary)
  .page-back-btn
    +onMaxSize(x-large)
      display: grid
      place-items: center
      position: relative
      border-radius: 50%
      width: rem(40)
      height: rem(40)
      margin: rem(8)
      color: var(--white)
      background: rgba(#000, 0.75)
      span
        display: none
    +onMinSize(x-large)
      display: flex
      align-items: center
      font-weight: 600
      gap: rem(8)
      color: var(--text)

    svg
      transform: rotate(-90deg)

  h2
    margin-block: rem(24) rem(12)
    padding-inline: var(--items-padding)

.slider-track
  transition: transform 0.3s var(--ease-spring)

.btn-product.btn-expand
  background-color: rgba(#000, 0.75)
  color: var(--white)
  min-width: rem(40)
  width: rem(40)
  height: rem(40)
  margin: rem(8)
  border-radius: 50%
  svg
    margin-left: rem(2)

.btn-read-more
  cursor: pointer
  color: var(--primary)
  font-size: rem(16)

.btn-wishlist-float
  background-color: var(--page-color-red-light)
  color: var(--white)
  width: rem(48)
  height: rem(48)
  border-radius: 50%
  display: grid
  place-items: center
  margin-left: auto
  margin-right: rem(16)

.images-full-screen
  .btn-modal,
  .sn-modal-close
    width: rem(50)
    height: rem(50)
    border-radius: 50%
    background-color: rgba(0, 0, 0, 0.3)
    color: var(--white)
    display: grid
    place-items: center
  .sn-product-page-images
    max-width: initial
    width: 90vh
    height: 90vh
  .sn-modal-heading
    width: 90vh
    margin-inline: auto
    position: relative
  .sn-modal-inner
    background: transparent
    max-width: 100%
    width: 90%
  .sn-modal-body
    display: flex
    align-items: center
    justify-content: space-between
    gap: rem(24)
  .sn-modal-close
    position: absolute
    z-index: 1
    top: rem(16)
    right: rem(16)
  +onMaxSize(large)
    .sn-modal-inner
      width: 100%
    .sn-product-page-images
      width: 90vw
      height: 90vw
    .sn-modal-heading
      width: 90vw
    .sn-modal-close
      right: rem(32)
  +onMaxSize(medium)
    .sn-product-page-images
      border-radius: rem(20)
      aspect-ratio: 1/1
      img
        aspect-ratio: 1/1
    .btn-modal
      position: absolute
      z-index: 1
      &.btn-next
        right: 0
    .btn-modal,
    .sn-modal-close
      transform: scale(0.75)
      background-color: rgba(0, 0, 0, 0.5)
    .sn-modal-close
      right: 0
      top: 0
  //Grid Related changes
.sn-product-body
  .sn-header
    +onMaxSize(medium)
      display: none
.sn-product-page
  display: grid
  +onMaxSize(x-large)
    &-images
      grid-row: 1
      grid-column: 1
    .page-back-btn,
    .btn-expand
      grid-row: 1
      grid-column: 1
      z-index: 2
    .btn-expand
      justify-self: flex-end
    +onSizeRange(medium, x-large)
      grid-template-columns: 1fr rem(80)
      column-gap: rem(24)

      h2,
      .sn-product-page-description-set,
      .sn-product-page-attribute-container
        grid-column: 1 / 3

      .sn-product-page-thumbnails
        grid-column: 2
        grid-row: 1
        flex-direction: column
      .btn-expand
        align-self: flex-end
  +onMinSize(x-large)
    --items-padding: 0
    grid-template-columns: minmax(0,1fr) $imgShape minmax(0,1fr)
    column-gap: rem(48)
    .page-back-btn
      grid-column: 1
      grid-row: 1
      align-self: baseline
    .btn-expand
      grid-column: 2
      grid-row: 1
      justify-self: flex-end
      position: relative
      top: calc($imgShape - rem(60))
    .sn-product-page-slider
      grid-column: 2
      grid-row: 1
      position: relative
      top: calc($imgShape)
    .sn-product-page-thumbnails
      grid-column: 1
      grid-row: 3
      margin-top: rem(24)
    .sn-product-page-images
      grid-column: 2
      grid-row: 1/5
    .sn-product-page-attribute-container
      grid-column: 3
      grid-row: 1/5
    h2
      grid-column: 1
      grid-row: 1
      margin-top: rem(48)
    .sn-product-page-description-set
      grid-column: 1
      grid-row: 2

// Grid Changes end

.size-chart-btn
  border: rem(1) solid var(--primary)
  color: var(--primary)
  margin-left: auto
  display: flex
  place-items: center
  gap: rem(8)
  padding: rem(4) rem(8)
  border-radius: rem(4)
  +onMinSize(x-large)
    border: none

.size-chart-modal
  position: fixed
  z-index: 1
  inset: 0
  top: auto
  +onMinSize(x-large)
    left: auto
    top: 0
    z-index: 3
    width: 50%

  &-body
    background: var(--white)
    padding: rem(16)
    padding-bottom: rem(70)
  &-close
    position: absolute
    right: rem(30)
    top: rem(20)

    +onMinSize(medium)
      right: rem(40)
      top: rem(40)
    +onMinSize(x-large)
      position: static
      &::after
        content: ''
        position: fixed
        inset: 0
        right: 50%
        background: rgba(#000,0.50)
  &-table
    width: 100%
    margin-block: rem(12) rem(24)
    border-collapse: collapse
    th,td
      padding: rem(4) rem(8)
      +onMinSize(x-large)
        padding: rem(8) rem(12)
    thead tr
      background-color: var(--secondary)
      color: var(--white)
    td
      border-bottom: rem(1) solid var(--border-light)

.modal-design
  width: 100%
  height: rem(50)
  color: var(--white)
  margin-bottom: rem(-10)
  filter: drop-shadow(0 rem(-1) 0 rgba(#000,0.2))

  +onMinSize(medium)
    height: rem(90)
  +onMinSize(x-large)
    display: none

.value-info
  display: block
  text-align: right
  color: var(--text)
