@import "../../../shared/styles/_functions.sass"

.deal-zone
  &-list
    margin-right: rem(-16)
    overflow: auto
    padding-bottom: rem(10)
    padding-right: rem(16)

    img
      min-width: rem(120)

    span
      white-space: nowrap

  &-outer
    padding-top: 0
