@use "sass:math"

$breakpoints: ( x-small: 375px, small: 480px, medium: 750px, large: 1024px, x-large: 1200px,xx-large: 1440px)

=onMinSize($breakpoint)
  @if map-has-key($breakpoints, $breakpoint)
    @media (min-width: map-get($breakpoints, $breakpoint))
      @content
  @else
    @error "Unknown breakpoint #{$breakpoint}."

=onMaxSize($breakpoint)
  @if map-has-key($breakpoints, $breakpoint)
    @media (min-width: map-get($breakpoints, $breakpoint))
      @content
  @else
    @error "Unknown breakpoint #{$breakpoint}."

@function rem($pixels)
  @return (math.div($pixels, 16)) * 1rem

$header-height-size: 64

$primary-color: #007BFF
$secondary-color: #FA6B38
$primary-shadow: rgba($primary-color, 0.3)
$secondary-shadow: rgba($secondary-color, 0.3)
$decoration-bg: #edf6ff //rgba($primary-color, 0.07)

$container-x-large: rem(1100)
$container-xx-large: rem(1400)
