@import "./_functions"

:root
  --primary: #007BFF
  --secondary: #FA6B38
  --ternary: #FDC13C
  --text: #333
  --light: #eae6e6
  --white: #fff
  --primary-light: #CEF0F4
  --ease-spring: cubic-bezier(0.25, 0.84, 0.44, 1)

  @media (max-width: 376px)
    font-size: 14px

  @media (max-width: 1360px) and (min-width: 1200px)
    font-size: 14px

*
  margin: 0
  padding: 0
  box-sizing: border-box

a
  text-decoration: none
  color: var(--text)

button
  border: none
  background: transparent
  transition: 0.3s var(--ease-spring)
  cursor: pointer

img,
svg
  max-width: 100%

html,
body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
  text-rendering: geometricPrecision
  font-smooth: always

  @media (max-width: 1024px)
    -webkit-overflow-scrolling: touch

  +respond-to(x-large)
    &::-webkit-scrollbar
      width: rem(10)
    &::-webkit-scrollbar-track
      background: transparent
      width: rem(8)
    &::-webkit-scrollbar-thumb
      background: #d2d5f2
      border-radius: rem(5)
ul
  list-style: none

// For Project

body
  background-image: url('/images/page-bg-light.webp')
  background-size: 100vw
  +respond-to(x-large)
    background-image: none
section
  max-width: 100vw
  overflow: hidden
  padding-block: rem(36)

  &:not(.section-full-width)
    +respond-to(x-large)
      max-width: rem(1100)
      margin-inline: auto
    +respond-to(xx-large)
      max-width: rem(1400)
  &.section-full-width
    padding-inline: rem(24)

main
  padding-block: rem(60) rem(24)
  padding-inline: rem(16)

  +respond-to(x-large)
    &:after,
    &:before
      content: ''
      position: absolute
      width: 50vw
      height: 50vw
      background: #eefafe //#F5F6FF
      left: 0
      top: 0
      z-index: -2
      clip-path: polygon(rem(430) 0px, 100% 0%, 100% rem(680), rem(430) rem(680), 0px rem(350))
    &:before
      right: 0
      left: auto
    &::after
      transform: rotateY(180deg)
//On scroll
.page-down
  .sn-header
    transform: translateY(-100%)

  .sn-footer
    transform: translateY(100%)
