@import "../../../shared/styles/_functions.sass"

$box-size: rem(600)

.slider-outer
  position: relative
  overflow-x: hidden
  padding-inline: 0.5rem

  .slider-action-btns
    margin-top: rem(30)

  +onMinSize(x-large)
    > div:not(.d-none)
      display: grid
      grid-template-columns: 1fr rem(640) 1fr

      &::before
        content: ''
        order: -2
      &::after
        content: ''
      .slider-img-outer
        order: -1

        > img
          filter: drop-shadow(0px 0px 6px #e6e8fa)
          position: relative
          z-index: 1
      .slider-action-btns
        order: 1
        .btn-secondary
          display: none

      .slider-heading
        text-align: left
        font-weight: 650
        font-size: rem(30)
        margin-top: rem(120)
  +onMinSize(xx-large)
    max-width: rem(1400)
    margin-inline: auto
    > div:not(.d-none) .slider-heading
      font-size: rem(36)
      padding-left: rem(24)

  .btn-primary
    animation: moveSideRight 0.5s var(--ease-spring) forwards

  .btn-secondary
    animation: moveSide 0.5s var(--ease-spring) forwards

.slider-heading
  font-weight: 800
  font-size: rem(24)
  letter-spacing: 0.02em
  opacity: 0
  animation: moveSide 0.5s var(--ease-spring) forwards
  +onMinSize(medium)
    font-size: rem(40)
    text-align: center

.slider-img
  animation: moveUp 0.5s var(--ease-spring) forwards
  height: auto
  +onMinSize(medium)
    width: rem(420)

.slide-changer
  position: absolute
  top: rem(150)
  right: 15%
  .btn
    display: none
  +onMinSize(x-large)
    right: auto
    .btn
      margin-top: rem(30)
      display: block

.btn-slide-changer
  width: 3px
  height: 20px
  background-color: #8f8f8f
  margin-block: 6px
  font-size: 0
  font-family: inherit

  +onMinSize(x-large)
    width: auto
    height: auto
    background: transparent
    margin: 0 0 rem(28)
    font-size: rem(20)
    font-weight: 500

  &.active
    background-color: var(--secondary)
    +onMinSize(x-large)
      background: transparent
      text-decoration: underline
      text-decoration-color: var(--primary)
      text-decoration-thickness: 2px
      text-underline-offset: rem(10)

.slide-num
  font-weight: 600
  font-size: 16px
  transform: rotate(90deg) translate(-8px, -2px)
  transform-origin: left
  +onMinSize(x-large)
    display: none

.slider-img-outer
  position: relative
  width: fit-content
  margin-inline: auto
  max-width: 100%

.slide-offer
  width: rem(100)
  height: rem(100)
  border-radius: 50%
  display: flex
  flex-direction: column
  justify-content: center
  font-size: rem(24)
  font-weight: 700
  background: var(--white)
  box-shadow: 0px 4px 21px 6px rgba(0, 0, 0, 0.11)
  position: absolute
  bottom: rem(0)
  right: rem(0)
  opacity: 0
  animation: moveDown 0.5s var(--ease-spring) 0.3s forwards

  +onMinSize(x-large)
    bottom: rem(60)
    right: rem(-220)

  &:after
    content: ''
    width: 80%
    height: 80%
    border: 3px dashed var(--secondary)
    border-radius: 50%
    position: absolute
    top: 8%
    left: 8%
    animation: rotateFull 15s linear infinite

.slider-img-lg
  position: absolute
  top: rem(- 50)
  left: 50%
  display: none
  +onMinSize(x-large)
    display: block
  &-left,
  &-right
    position: absolute
    background: #c3f0fd //#AEE6EC
    width: $box-size
    height: $box-size
    border-radius: 50%
    overflow: hidden
    opacity: 0
    img
      position: absolute
      bottom: rem(100)
      height: auto
  &-left
    clip-path: polygon(0% 10%, 50% 50%, 50% 50%, 0% 90%)
    animation: scaleUp .6s var(--ease-spring) .3s forwards
    left: calc(($box-size/2) * -1)
    img
      left: 0
  &-right
    clip-path: polygon(50% 50%, 100% 10%, 100% 100%, 100% 90%)
    animation: scaleUp .6s var(--ease-spring) .3s forwards
    right: calc(($box-size/2) * -1)
    img
      right: 0

.slider-img-main
  position: relative
  width: rem(380)
  height: rem(425)
  overflow: hidden
  margin-top: rem(24)
  max-width: 90%
  margin-inline: auto
  border-radius: 0 0 rem(140) rem(140)
  +onMinSize(x-small)
    border-radius: 0 0 rem(160) rem(160)
  img
    max-width: rem(300)
  &:after
    content: ''
    position: absolute
    z-index: -1
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    width: rem(380)
    max-width: 90%
    aspect-ratio: 1/1
    border-radius: 50%
    background: #fdd2c3
  +onMinSize(x-large)
    z-index: 1
    margin-top: 0
    border-radius: 0 0 50% 50%
