@import "../../styles/_functions.sass"

.sn-footer
  border-radius: 1.25rem 1.25rem 0 0
  box-shadow: 0px -3px 6px 0px rgba(0, 0, 0, 0.25)
  padding: 0.625rem 1.25rem
  transition: 0.3s var(--ease-spring)
  position: fixed
  z-index: 1
  bottom: 0
  width: 100%
  background-color: var(--white)
  color: var(--text)

  li
    padding: rem(8)

.cart-count
  border-radius: 50%
  background-color: var(--primary)
  color: var(--white)
  width: rem(20)
  height: rem(20)
  top: rem(-2)
  right: rem(-8)
  font-size: rem(14)
  font-weight: 500
