@import "../../../../shared/styles/_functions.sass"

.sn-khalsa-card
  min-width: 80vw
  border-radius: rem(40)
  overflow: hidden
  display: grid
  position: relative
  &::after
    content: ''
    position: absolute
    inset: 0
    border-radius: rem(40)
    background: linear-gradient(25deg, rgba(0, 123, 255, .3), rgba(250, 107, 56, .3))
  img
    object-fit: cover
  img,
  .data
    grid-column: 1
    grid-row: 1
  .data
    align-self: flex-end
    padding: rem(24)
    color: var(--white)
    z-index: 2

  h2
    text-shadow: 0.1875rem 0.1875rem 0.1875rem rgba(0,0,0,.5)
    font-size: 2rem

.sn-khalsa-collections
  overflow: hidden
  margin: 0 -16px
  padding: 20px 0

.sn-slider-track
  display: flex
  gap: 16px
  transition: transform 0.3s linear
  &-outer
    transform: translateX(calc(-80vw + rem(20)))
